body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-color{
    color: orange;
}
.section-part{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-top: 1%;
}
section h1{
    font-size: 30px;
}
.half-part{
    width: 50%;
    padding-left: 6%;
    padding-top: 2%;
    padding-right: 5%;
}
.half-part img{
    width: 80%;
}
.button{
    border: 1px solid black;
    color: whitesmoke;
    background-color: tomato;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
    font-weight: 500;
}
.dream-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10%;
}
.next-part{
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    margin: 0 5%;
    box-shadow: 8px 8px 40px gray;
    
}
.experiences-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#dev-border1{
    border-image: linear-gradient(purple,tomato );
    border-image-slice: 1;
    border-left: 6px solid;
}
#dev-border2{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 6px solid;
}
footer p{
    text-align: center;
}
.exp-name{
    padding-left: 5%;
    font-size: 40px;
}